# Prevent git from corrupting binary files with line-ending conversion
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary
*.eot binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary
*.jar binary
*.apk binary
*.aab binary
*.ipa binary
